<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

  <script src="{{ url_for('static', filename='jsfiles/price.js') }}"></script>
  <script src="{{ url_for('static', filename='jsfiles/select.js') }}"></script>

  <script>
    // window.onload = 
    
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('input.form-control');
      
      form.addEventListener('submit', (event) => {
        event.preventDefault();

        form.reset();
      });
      // document.querySelector('.form-control').value = '';
    });
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/page.css') }}">
</head>
<body>
  <!-- <a class="logo" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='villelogo.png') }}" 
        alt="Ville Dishes" href="{{ url_for('index') }}"/>
  </a> -->
  <nav class="navigation">
      <a href="{{ url_for('index') }}">Home</a>

      {% if current_user.is_authenticated %}
      <a href="#">About</a>
      <a href="{{ url_for('cart') }}">Cart</a>
      <a href="#">Contact</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
      
      {% endif %}

  </nav>
  <hr>
  {% block content %}{% endblock %}
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
