<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div><img src="{{ url_for('static', filename='villelogo.png') }}" alt="Ville Dishes" width=150 height=35>
  <nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('products') }}">Products</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('cart') }}">Cart</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      
      {% endif %}
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
